body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-svGUZawxn1 .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-svGUZawxn1 .navbar-fixed-top {
  padding-top: 0;
}
.cid-svGUZawxn1 .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-svGUZawxn1 .navbar-buttons {
  flex-wrap: wrap;
}
.cid-svGUZawxn1 .dropdown-item {
  padding: 0;
}
.cid-svGUZawxn1 .dropdown-menu {
  border: 0px solid lightgray;
  background: #e43f3f !important;
}
.cid-svGUZawxn1 .menu-content-top {
  max-width: 1200px;
  display: none;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-svGUZawxn1 .menu-bottom {
  margin: auto;
  width: 100%;
  background: #e43f3f;
  display: flex;
  padding: 0 2rem;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-svGUZawxn1 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-svGUZawxn1 a {
  font-style: normal;
}
.cid-svGUZawxn1 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-svGUZawxn1 .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-svGUZawxn1 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-svGUZawxn1 .content-text {
  margin-bottom: 0;
}
.cid-svGUZawxn1 .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-svGUZawxn1 .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #6592e6;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-svGUZawxn1 .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-svGUZawxn1 .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-svGUZawxn1 .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-svGUZawxn1 .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-svGUZawxn1 .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-svGUZawxn1 .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-svGUZawxn1 .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-svGUZawxn1 .nav-dropdown .link {
  font-weight: 400;
}
.cid-svGUZawxn1 .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-svGUZawxn1 .content-right-side {
  text-align: center;
}
.cid-svGUZawxn1 .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-svGUZawxn1 .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-svGUZawxn1 .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-svGUZawxn1 .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.cid-svGUZawxn1 .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-svGUZawxn1 .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-svGUZawxn1 .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-svGUZawxn1 .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-svGUZawxn1 .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-svGUZawxn1 .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-svGUZawxn1 .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-svGUZawxn1 .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-svGUZawxn1 .menu-content-top {
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
  }
  .cid-svGUZawxn1 .navbar {
    display: block;
    padding: 0;
  }
  .cid-svGUZawxn1 .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-svGUZawxn1 .navbar:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 4rem - 4.5rem);
  }
  .cid-svGUZawxn1 .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-svGUZawxn1 .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-svGUZawxn1 .navbar-toggler {
    display: none;
  }
  .cid-svGUZawxn1 .navbar-collapse {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-svGUZawxn1 .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-svGUZawxn1 .btn {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-svGUZawxn1 .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-svGUZawxn1 .menu-logo {
  margin-right: auto;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  width: auto;
}
.cid-svGUZawxn1 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-svGUZawxn1 .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-svGUZawxn1 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-svGUZawxn1 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-svGUZawxn1 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-svGUZawxn1 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-svGUZawxn1 .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item::after {
  right: -0.5rem;
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-svGUZawxn1 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-svGUZawxn1 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-svGUZawxn1 .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-svGUZawxn1 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-svGUZawxn1 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-svGUZawxn1 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
  width: auto;
}
.cid-svGUZawxn1 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-svGUZawxn1 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-svGUZawxn1 button.navbar-toggler:focus {
  outline: none;
}
.cid-svGUZawxn1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-svGUZawxn1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-svGUZawxn1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-svGUZawxn1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-svGUZawxn1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-svGUZawxn1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-svGUZawxn1 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-svGUZawxn1 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-svGUZawxn1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-svGUZawxn1 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-svGUZawxn1 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-svGUZawxn1 .collapsed .btn {
  display: flex;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse.collapsing,
.cid-svGUZawxn1 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-svGUZawxn1 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-svGUZawxn1 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-svGUZawxn1 .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-svGUZawxn1 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-svGUZawxn1 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-svGUZawxn1 .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-svGUZawxn1 .collapsed button.navbar-toggler {
  display: block;
}
.cid-svGUZawxn1 .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-svGUZawxn1 .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-svGUZawxn1 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-svGUZawxn1 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-svGUZawxn1 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-svGUZawxn1 .collapsed .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-svGUZawxn1 .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-svGUZawxn1 .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-svGUZawxn1 .navbar-collapse.collapsing,
  .cid-svGUZawxn1 .navbar-collapse.show {
    display: block !important;
  }
  .cid-svGUZawxn1 .navbar-collapse.collapsing .navbar-nav,
  .cid-svGUZawxn1 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-svGUZawxn1 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-svGUZawxn1 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-svGUZawxn1 .navbar-collapse.collapsing .navbar-buttons,
  .cid-svGUZawxn1 .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-svGUZawxn1 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-svGUZawxn1 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-svGUZawxn1 .menu-bottom {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-svGUZawxn1 img {
    height: 3.8rem !important;
  }
  .cid-svGUZawxn1 .btn {
    display: flex;
  }
  .cid-svGUZawxn1 button.navbar-toggler {
    display: block;
  }
  .cid-svGUZawxn1 .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-svGUZawxn1 .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-svGUZawxn1 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-svGUZawxn1 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-svGUZawxn1 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-svGUZawxn1 .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-svGUZawxn1 .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-svGUZawxn1 .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-svGUZawxn1 .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-svGUZawxn1 .nav-link:focus {
  outline: none;
}
.cid-svGUZawxn1 .navbar-toggler {
  position: relative;
}
.cid-svGUZawxn1 .dropdown-item.active,
.cid-svGUZawxn1 .dropdown-item:active {
  background: #e43f3f;
  color: initial;
}
.cid-svGUZawxn1 .widget-title,
.cid-svGUZawxn1 .widget-icon {
  color: #e43f3f;
}
.cid-L89f9tUpTt {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #f4f1f1;
}
.cid-L89f9tUpTt .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-L89f9tUpTt .carousel {
  margin: 30px 0;
  background: #f4f1f1;
}
.cid-L89f9tUpTt .carousel .item {
  text-align: center;
  overflow: hidden;
  height: 475px;
}
.cid-L89f9tUpTt .item img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.cid-L89f9tUpTt .carousel .carousel-control {
  width: 50px;
  height: 50px;
  background: #000;
  margin: auto 0;
  opacity: 0.8;
}
.cid-L89f9tUpTt .carousel .carousel-control:hover {
  opacity: 0.9;
}
.cid-L89f9tUpTt .carousel .carousel-control i {
  font-size: 41px;
  margin-top: 3px;
}
.cid-L89f9tUpTt .carousel-caption h3,
.cid-L89f9tUpTt .carousel-caption p {
  color: #fff;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-shadow: none;
  margin-bottom: 20px;
}
.cid-L89f9tUpTt .carousel-caption h3 {
  background: #232323;
  padding: 12px 24px;
  font-size: 40px;
  text-transform: uppercase;
}
.cid-L89f9tUpTt .carousel-caption p {
  background: #7f1933;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
}
.cid-L89f9tUpTt .carousel-indicators {
  margin-top: 0px;
  position: relative;
  background: #ccc;
}
.cid-L89f9tUpTt .carousel-indicators div.active {
  background: #7f1933;
  border-color: #7f1933;
}
.cid-L89f9tUpTt .carousel .nav {
  background: #eee;
}
.cid-L89f9tUpTt .carousel .nav a {
  color: #333;
  border-radius: 0;
  font-size: 85%;
  padding: 10px 16px;
  background: transparent;
}
.cid-L89f9tUpTt .carousel .nav .active a {
  color: #fff;
  background: #7f1933;
}
.cid-L89f9tUpTt .carousel .nav strong {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .cid-L89f9tUpTt .carousel-indicators {
    display: none;
  }
}
.cid-L89f9tUpTt P {
  text-align: center;
}
.cid-svH3zJ6XXi {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #dce8eb;
}
.cid-svH3zJ6XXi .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-svH3zJ6XXi .img-item,
.cid-svH3zJ6XXi img {
  height: 100%;
  object-fit: cover;
}
.cid-svH3zJ6XXi .container-fluid {
  padding: 0 1rem;
}
.cid-svH3zJ6XXi .img-col {
  padding: 0;
}
.cid-svH3zJ6XXi .col-auto {
  width: 100%;
}
.cid-svH3zJ6XXi .btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;
}
.cid-svH3zJ6XXi .content {
  max-width: 500px;
  margin: 5rem auto;
}
.cid-svH3zJ6XXi .form-control,
.cid-svH3zJ6XXi .field-input {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-svH3zJ6XXi .form-control::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input::-webkit-input-placeholder,
.cid-svH3zJ6XXi .form-control::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input::-webkit-input-placeholder {
  color: #777777;
}
.cid-svH3zJ6XXi .form-control:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:-moz-placeholder,
.cid-svH3zJ6XXi .form-control:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:-moz-placeholder {
  color: #777777;
}
.cid-svH3zJ6XXi .form-control:hover,
.cid-svH3zJ6XXi .field-input:hover,
.cid-svH3zJ6XXi .form-control:focus,
.cid-svH3zJ6XXi .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff !important;
  color: #1b2026;
  box-shadow: none;
  outline: none;
}
.cid-svH3zJ6XXi .form-control:hover::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input:hover::-webkit-input-placeholder,
.cid-svH3zJ6XXi .form-control:focus::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input:focus::-webkit-input-placeholder,
.cid-svH3zJ6XXi .form-control:hover::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input:hover::-webkit-input-placeholder,
.cid-svH3zJ6XXi .form-control:focus::-webkit-input-placeholder,
.cid-svH3zJ6XXi .field-input:focus::-webkit-input-placeholder {
  color: #777777;
}
.cid-svH3zJ6XXi .form-control:hover:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:hover:-moz-placeholder,
.cid-svH3zJ6XXi .form-control:focus:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:focus:-moz-placeholder,
.cid-svH3zJ6XXi .form-control:hover:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:hover:-moz-placeholder,
.cid-svH3zJ6XXi .form-control:focus:-moz-placeholder,
.cid-svH3zJ6XXi .field-input:focus:-moz-placeholder {
  color: #777777;
}
.cid-svH3zJ6XXi .jq-number__spin:hover,
.cid-svH3zJ6XXi .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-svH3zJ6XXi .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1b2026;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-svH3zJ6XXi .jq-selectbox li,
.cid-svH3zJ6XXi .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-svH3zJ6XXi .jq-selectbox li:hover,
.cid-svH3zJ6XXi .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-svH3zJ6XXi .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-svH3zJ6XXi .jq-number__spin.minus:hover:after,
.cid-svH3zJ6XXi .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-svH3zJ6XXi .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-svH3zJ6XXi .jq-number__spin.minus:after,
.cid-svH3zJ6XXi .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-svH3zJ6XXi input::-webkit-clear-button {
  display: none;
}
.cid-svH3zJ6XXi input::-webkit-inner-spin-button {
  display: none;
}
.cid-svH3zJ6XXi input::-webkit-outer-spin-button {
  display: none;
}
.cid-svH3zJ6XXi input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-svH3zJ6XXi H4 {
  color: #777777;
}
.cid-svH4LFDxFB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-svH4LFDxFB .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-svH4LFDxFB .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-svH4LFDxFB .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e43f3f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-svH4LFDxFB .mbr-section-title {
  text-align: center;
  color: #e43f3f;
}
.cid-svH85IOZbq {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-svH85IOZbq .icon1 {
  background: #ffb5b5;
}
.cid-svH85IOZbq .link-text-wrapper {
  display: flex;
  align-items: center;
}
.cid-svH85IOZbq .link-text-wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}
.cid-svH85IOZbq .link-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  margin: auto;
  width: 70px;
  height: 70px;
}
.cid-svH85IOZbq .link-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svH85IOZbq .inline-wrapper {
  display: inline-block;
}
.cid-svH85IOZbq .align-wrapper {
  width: 100%;
}
.cid-svH85IOZbq .iconfont-wrapper {
  box-shadow: 0px 0px 0px 2px #1c1c25 inset;
  border-radius: 50%;
  min-width: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  transition: all 0.3s;
  z-index: 2;
  padding-left: 4px;
  position: relative;
}
.cid-svH85IOZbq .iconfont-wrapper:hover {
  box-shadow: 0px 0px 0px 2px transparent inset;
}
.cid-svH85IOZbq .iconfont-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svH85IOZbq .iconfont-wrapper:hover .mbr-iconfont {
  color: white;
}
.cid-svH85IOZbq .mbr-iconfont {
  transition: all 0.3s;
  font-size: 1.8rem;
  color: #1c1c25;
  position: relative;
}
.cid-svH85IOZbq .icon-bg {
  position: absolute;
  overflow: visible;
  top: 6px;
  right: -6px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  z-index: 1;
  height: 100%;
  border-radius: 50%;
}
.cid-svH85IOZbq img {
  border-radius: 8px;
}
@media (min-width: 992px) {
  .cid-svH85IOZbq img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
}
.cid-svH85IOZbq .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-svH85IOZbq .mbr-section-subtitle {
  color: #767676;
}
.cid-svH85IOZbq .main-sub-title {
  background: #e7e7fb;
  border-radius: 8px;
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 1rem;
}
.cid-svH85IOZbq .card-text {
  color: #767676;
}
.cid-svH85IOZbq .main-sub-title,
.cid-svH85IOZbq .align-wrapper {
  color: #e43f3f;
}
.cid-svH85IOZbq .main-text {
  color: #777d74;
}
.cid-svH85IOZbq .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-svH85IOZbq .modalWindow .modalWindow-container {
  transform: translateY(50vh) translateY(-22vw);
}
.cid-svH85IOZbq .modalWindow .modalWindow-video {
  height: 44.9943757vw;
  width: 80vw;
  margin: 0 auto;
}
.cid-svH85IOZbq a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 16px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-svH85IOZbq a.close:hover {
  color: #ffffff;
}
.cid-svH9xkbcVu {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-svH9xkbcVu .icon1 {
  background: #ffb5b5;
}
.cid-svH9xkbcVu .link-text-wrapper {
  display: flex;
  align-items: center;
}
.cid-svH9xkbcVu .link-text-wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}
.cid-svH9xkbcVu .link-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  margin: auto;
  width: 70px;
  height: 70px;
}
.cid-svH9xkbcVu .link-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svH9xkbcVu .inline-wrapper {
  display: inline-block;
}
.cid-svH9xkbcVu .align-wrapper {
  width: 100%;
}
.cid-svH9xkbcVu .iconfont-wrapper {
  box-shadow: 0px 0px 0px 2px #1c1c25 inset;
  border-radius: 50%;
  min-width: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  transition: all 0.3s;
  z-index: 2;
  padding-left: 4px;
  position: relative;
}
.cid-svH9xkbcVu .iconfont-wrapper:hover {
  box-shadow: 0px 0px 0px 2px transparent inset;
}
.cid-svH9xkbcVu .iconfont-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svH9xkbcVu .iconfont-wrapper:hover .mbr-iconfont {
  color: white;
}
.cid-svH9xkbcVu .mbr-iconfont {
  transition: all 0.3s;
  font-size: 1.8rem;
  color: #1c1c25;
  position: relative;
}
.cid-svH9xkbcVu .icon-bg {
  position: absolute;
  overflow: visible;
  top: 6px;
  right: -6px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  z-index: 1;
  height: 100%;
  border-radius: 50%;
}
.cid-svH9xkbcVu img {
  border-radius: 8px;
}
@media (min-width: 992px) {
  .cid-svH9xkbcVu img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
}
.cid-svH9xkbcVu .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-svH9xkbcVu .mbr-section-subtitle {
  color: #767676;
}
.cid-svH9xkbcVu .main-sub-title {
  background: #e7e7fb;
  border-radius: 8px;
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 1rem;
}
.cid-svH9xkbcVu .card-text {
  color: #767676;
}
.cid-svH9xkbcVu .main-sub-title,
.cid-svH9xkbcVu .align-wrapper {
  color: #e43f3f;
}
.cid-svH9xkbcVu .main-text {
  color: #777d74;
}
.cid-svH9xkbcVu .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-svH9xkbcVu .modalWindow .modalWindow-container {
  transform: translateY(50vh) translateY(-22vw);
}
.cid-svH9xkbcVu .modalWindow .modalWindow-video {
  height: 44.9943757vw;
  width: 80vw;
  margin: 0 auto;
}
.cid-svH9xkbcVu a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 16px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-svH9xkbcVu a.close:hover {
  color: #ffffff;
}
.cid-svHb0BKUhR {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-svHb0BKUhR .icon1 {
  background: #ffb5b5;
}
.cid-svHb0BKUhR .link-text-wrapper {
  display: flex;
  align-items: center;
}
.cid-svHb0BKUhR .link-text-wrapper p {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}
.cid-svHb0BKUhR .link-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  margin: auto;
  width: 70px;
  height: 70px;
}
.cid-svHb0BKUhR .link-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svHb0BKUhR .inline-wrapper {
  display: inline-block;
}
.cid-svHb0BKUhR .align-wrapper {
  width: 100%;
}
.cid-svHb0BKUhR .iconfont-wrapper {
  box-shadow: 0px 0px 0px 2px #1c1c25 inset;
  border-radius: 50%;
  min-width: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  transition: all 0.3s;
  z-index: 2;
  padding-left: 4px;
  position: relative;
}
.cid-svHb0BKUhR .iconfont-wrapper:hover {
  box-shadow: 0px 0px 0px 2px transparent inset;
}
.cid-svHb0BKUhR .iconfont-wrapper:hover .icon-bg {
  top: 0px;
  right: 0px;
}
.cid-svHb0BKUhR .iconfont-wrapper:hover .mbr-iconfont {
  color: white;
}
.cid-svHb0BKUhR .mbr-iconfont {
  transition: all 0.3s;
  font-size: 1.8rem;
  color: #1c1c25;
  position: relative;
}
.cid-svHb0BKUhR .icon-bg {
  position: absolute;
  overflow: visible;
  top: 6px;
  right: -6px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  z-index: 1;
  height: 100%;
  border-radius: 50%;
}
.cid-svHb0BKUhR img {
  border-radius: 8px;
}
@media (min-width: 992px) {
  .cid-svHb0BKUhR img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
}
.cid-svHb0BKUhR .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-svHb0BKUhR .mbr-section-subtitle {
  color: #767676;
}
.cid-svHb0BKUhR .main-sub-title {
  background: #e7e7fb;
  border-radius: 8px;
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 1rem;
}
.cid-svHb0BKUhR .card-text {
  color: #767676;
}
.cid-svHb0BKUhR .main-sub-title,
.cid-svHb0BKUhR .align-wrapper {
  color: #e43f3f;
}
.cid-svHb0BKUhR .main-text {
  color: #777d74;
}
.cid-svHb0BKUhR .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-svHb0BKUhR .modalWindow .modalWindow-container {
  transform: translateY(50vh) translateY(-22vw);
}
.cid-svHb0BKUhR .modalWindow .modalWindow-video {
  height: 44.9943757vw;
  width: 80vw;
  margin: 0 auto;
}
.cid-svHb0BKUhR a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 16px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-svHb0BKUhR a.close:hover {
  color: #ffffff;
}
.cid-svH52nnpH1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
.cid-svH52nnpH1 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-svH52nnpH1 .team-card:hover {
  transform: translateY(-10px);
}
.cid-svH52nnpH1 .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-svH52nnpH1 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-svH52nnpH1 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-svH52nnpH1 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-svH52nnpH1 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-svH52nnpH1 .social-row {
  text-align: center;
}
.cid-svH52nnpH1 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-svH52nnpH1 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-svH52nnpH1 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-svH52nnpH1 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-svH52nnpH1 .mbr-section-title {
  color: #e43f3f;
}
